:root {
  --primary-color: #0055af;
  --secondary-color: #121212;
  --background-color: #f8f9fa;
  /* Textos */
  --text-color: #212529;
  --text-color-light: #fff;
  --font-family: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  box-sizing: border-box;
}

nav {
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  position: sticky;
  background-color: var(--secondary-color);
  color: #fff;
}
.header-logo {
  background-color: var(--secondary-color);
  width: 70px;
  height: 70px;
  justify-content: center;
  text-decoration: none;
}
h2 {
  margin: 20px 0;
  color: var(--primary-color);
  border-bottom: solid var(--primary-color);
  margin: 0 auto;
  padding-bottom: 5px;
  padding-top: 30px;
}
ul.nav-list {
  background-color: var(--secondary-color);
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav-item a {
  color: var(--text-color-light);
  background-color: var(--secondary-color);
  text-decoration: none;
}
.nav-item a:hover {
  transition: color 0.3s ease;
  color: var(--primary-color);
  text-decoration: none;
}

.section-intro {
  color: var(--text-color-light);
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 25px;
  margin: 20px auto;
}

.main-Container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.div-menu {
  display: inline-block;
  border: #000 solid 1px;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}

.div-menu p {
  padding-bottom: 15px;
}
h3 {
  color: var(--text-color-light);
  background-color: #000;
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
}

.div-menu img {
  width: 100%;
  height: 550px;
  border-radius: 10px;
}
.price {
  color: var(--primary-color);
  font-size: 40px;
  margin-top: auto;
  text-align: right;
}

.servicios {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
}
label {
  padding-top: 10px;
  display: block;
  margin-bottom: 5px;
  color: var(--text-color-light);
}

input {
  font-size: 16px;
  width: 100%;
  padding: 5px;
}
textarea {
  font-size: 16px;
  width: 100%;
  padding: 5px;
  padding-bottom: 50px;
}
.buttons {
  margin-top: 10px;
  padding: 10px;
  box-shadow: none;
  background-color: var(--primary-color);
  color: var(--text-color-light);
  border-radius: 5px;
  border: none;
}

.div-services {
  margin: 0 auto;
  margin-top: 10px;
}
.div-services li {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 5px;
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
  list-style-type: none;
}

footer {
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  text-align: center;
  padding: 30px;
  margin-top: 50px;
}
